/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    scRNA-seq Nextflow config file
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Currently only supports AWS Batch and local, but additional platforms will continue to be added
----------------------------------------------------------------------------------------
*/

nextflow.enable.dsl=2


manifest {
  description = 'Proof of concept of a scRNA-seq pipeline implemented with Nextflow' 
  author = 'Robert Linder'
  nextflowVersion = '>=22.04.5'
}

/* 
 * default params 
*/


params.reads = "$projectDir/assets/*_R{1,2}_001.{fastq,fq}.gz"
params.genome = "$projectDir/assets/GRCh38.primary_assembly.genome.fa.gz"
params.annotations = "$projectDir/assets/gencode.v32.primary_assembly.annotation.gtf.gz"
params.whitelist10k = "$projectDir/assets/3M-february-2018.txt.gz"
params.outdir = "$projectDir/results"
params.runtype = "full"
params.testchr = "chr10"
params.subsamplefastq = 200000

/* 
 * defines execution profiles for different environments  
 */ 

plugins {
    id 'nf-amazon'
}

docker {
        enabled = true
        runOptions = '-u $(id -u):$(id -g)'
}

profiles {

 standard {
    process.container = 'rlinder02/starsolo-sc-rnaseq:v0.1.0'
    process.executor = 'local'    
  }
  
  // when running aws batch, need to have a file in the bin directory, even if not actually using any extra scripts
  batch {
    process.container = 'rlinder02/starsolo-sc-rnaseq:v0.1.0'
    process.executor = 'awsbatch'
    process.queue = 'nextflow-queue'
    workDir = 's3://nextflow-scrnaseq-workdir/test_env'
    aws.region = 'us-west-1'
    aws.batch.cliPath = '/home/ec2-user/miniconda/bin/aws'
  }
}

// change these values to work for the resources available to the compute platform you are using; 8 cpus and 48.GB of RAM for running on AWS is recommended, depending on your vCPU per instance limit; locally, I use 6 cpus and 24.GB of RAM; ensure your max vCPUs on aws batch are not greater than than your cap
process {
    withLabel: big_mem {
        cpus = 6
        memory = 24.GB
    }   
}